*username*
sample_docs/*
*answer*
code_arcpy_and_arcgis/*
Week_10/lecture_imagery/*
Week_10/Landsat_p114r75/*
Week_10/Amberg_tif/*
Week_9/Exercise09/*
Week_9/python_exercises_all_chapters*
*Homework*
Project_2_Ideas/*